@model Proyecto.Models.Contrato

@{
    ViewBag.Title = "Crear Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Nuevo Contrato</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="mb-3">
                    @Html.LabelFor(model => model.IdTipoContrato, "Tipo de Contrato", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("IdTipoContrato", null, htmlAttributes: new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.IdTipoContrato, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.IdEmpleado, "Empleado", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownList("IdEmpleado", null, htmlAttributes: new { @class = "form-select" })
                    @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex justify-content-between">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
