@model Proyecto.Models.Contrato

@{
    ViewBag.Title = "Detalles del Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Detalles del Contrato</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Tipo de Documento del Empleado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Empleado.TipoDocumento.Nombre)</dd>

                <dt class="col-sm-4">Documento del Empleado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Empleado.NumeroDocumento)</dd>

                <dt class="col-sm-4">Nombres del Empleado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Empleado.Nombres)</dd>

                <dt class="col-sm-4">Apellidos del Empleado</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Empleado.Apellidos)</dd>

                <dt class="col-sm-4">Tipo de Contrato</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TipoContrato.NombreTipo)</dd>

                <dt class="col-sm-4">Fecha de Inicio</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaInicio)</dd>

                <dt class="col-sm-4">Fecha de Finalización</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaFin)</dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
