@model Proyecto.Models.Contrato

@{
    ViewBag.Title = "Editar Contrato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Editar Contrato</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label" for="IdTipoContrato">Tipo de Contrato</label>
                        @Html.DropDownList("IdTipoContrato", null, htmlAttributes: new { @class = "form-select", id = "IdTipoContrato" })
                        @Html.ValidationMessageFor(model => model.IdTipoContrato, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="IdEmpleado">Empleado</label>
                        @Html.DropDownList("IdEmpleado", null, htmlAttributes: new { @class = "form-select", id = "IdEmpleado" })
                        @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="FechaInicio">Fecha Inicio</label>
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", @Value = Model.FechaInicio.ToString("dd/MM/yyyy") } })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label class="form-label" for="FechaFin">Fecha Fin</label>
                        @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", @Value = Model.FechaFin.ToString("dd/MM/yyyy") } })
                        @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mt-4 d-flex justify-content-between">
                    <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
