@model Proyecto.Models.Ausencia

@{
    ViewBag.Title = "Eliminar Ausencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0"><i class="bi bi-trash3"></i> Eliminar Ausencia</h4>
        </div>
        <div class="card-body">
            <h5 class="mb-3 text-danger">¿Está seguro que desea eliminar esta ausencia?</h5>
            <div class="row g-3">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Empleado.NumeroDocumento):</strong>
                    <p>@Html.DisplayFor(model => model.Empleado.NumeroDocumento)</p>
                </div>
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.TipoAusencia):</strong>
                    <p>@Html.DisplayFor(model => model.TipoAusencia)</p>
                </div>
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.FechaInicio):</strong>
                    <p>@Html.DisplayFor(model => model.FechaInicio)</p>
                </div>
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.FechaFin):</strong>
                    <p>@Html.DisplayFor(model => model.FechaFin)</p>
                </div>
                <div class="col-12">
                    <strong>@Html.DisplayNameFor(model => model.Justificacion):</strong>
                    <p>@Html.DisplayFor(model => model.Justificacion)</p>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="mt-4 d-flex justify-content-end">
                    <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
