@model Proyecto.Models.Ausencia

@{
    ViewBag.Title = "Detalles de Ausencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0"><i class="bi bi-info-circle"></i> Detalles de Ausencia</h4>
        </div>
        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Empleado.NumeroDocumento)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Empleado.NumeroDocumento)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.FechaInicio)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaInicio)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.FechaFin)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaFin)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.TipoAusencia)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TipoAusencia)</dd>

                <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Justificacion)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Justificacion)</dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-3">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning me-2" })
        @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
